<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <form action="/login" method="POST">
        <input type="text" name="username" placeholder="username">Username
        <input type="password" name="password" placeholder="password">Password
        <input type="submit" name="submit" value="submit">
    </form>
    <p class="registration">Registration</p>
    <script src="./js/login.js"></script>
</body>

</html>